/* seletor:pseudo-classe {
    propriedade: valor;
} */

p:first-child {
    color: aquamarine;
}

p:last-child {
    color: blueviolet;
}

p:not(.padrao) {
    color: yellow;
}

p:nth-child(even) {
    color:red;
}

li:nth-child(odd) {
    color: red;
}

li:nth-child(3n) {
    color: lightgreen;
}

li:nth-last-child(1) {
    color: cyan;
}

p:only-child {
    color: purple;
}